<a href="<%= user_path(@user||current_user) %>">
  <%= gravatar_for @user||current_user %>
</a>
<h1>
  <%= (@user||current_user).name %>
</h1>
<div class="row">
<ul  class="no-bullet">
<% if correct_user?(@user||current_user) %>
 <li> <%= link_to "view my profile", (@user||current_user) %></li>
<% end %>
<li>
  Posted <%= pluralize((@user||current_user).microposts.count, "micropost") %>
 </li>
 <li>
 	Followed&nbsp;&nbsp;&nbsp;<a href="<%=following_users_path %>"><%=(@user||current_user).followed_users.count%></a>
 </li>
 <li>
 Followers&nbsp;&nbsp;&nbsp;<a href="<%=followers_users_path %>"><%=(@user||current_user).followers.count%></a>
 </li>
 </ul>
</div>