<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<div class="row">
<div class="small-12 small-centered columns">
  <%= link_to "view my profile", current_user %>
</div>
<div class="small-12 small-centered columns">
  <%= pluralize(current_user.microposts.count, "micropost") %>
 </div>
</div>