<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Micro Blog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <%= javascript_include_tag "application" %>
     <%=render "shared/header" %>
     <div class="row">
      <% flash.each do |key, value| %>
        <div class="small-4 small-centered columns"><span class="<%= key %>  label"><%= value %></span></div>
      <% end %>
      </div>
    <div class="row">
        <%= yield %>
    </div>
  </body>
</html>